<p>
  Welcome to 'Should I Trade?'
</p>
<p>
  Have you ever struggled over a trade decision?
  Have you ever wanted to ask the world if you should make a trade?
  Do you want to win your fantasy league this year?
</p>
<ol>
  Well now you can in <em>3 easy steps</em>!
  <li> Sign up! </li>
  <li> Recreate the trade proposal! </li>
  <li> See what the world thinks. </li>
</ol>
<p>
  Also while you wait, feel free to peruse other trades and give your vote. Because every vote you provide, we sponser the fantasy team of a child in a third world country.
  Remember we can only achieve greatness, if we first achieve goodness.
</p>
